version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/joyrex2001/nightshift
    steps:
      - checkout
      - run: go vet ./...
      - run: go test -v ./...
