<html>
<head>
    <title>primesdemo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>

<body class="hacker">

    <div class="container">
        <div class="logo">primesdemo</div>
    </div>

    <div class="container">
        {{ .Code }}: {{ .Error }}
    </div>

    <a class="btn btn-primary" href="/public">back</a>

</body>

</html>
